<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<springProperty name="endpoint" scope="context" source="logstash.endpoint"/>
	<!-- Appender utilizado para loguear en Logstash, IP y Puerto levantados 
		desde el archivo logstash.properties -->
	<appender class="net.logstash.logback.appender.LogstashTcpSocketAppender" name="logstash">
		<destination>${endpoint}</destination>
		<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<mdc/>
				<!-- MDC variables on the Thread will be written as JSON fields -->
				<!-- <context />-->
				<!--Outputs entries from logback's context -->
				<context/>
				<!--Outputs entries from logback's context -->
				<!-- <version />Logstash json format version, the @version field in the output -->
				<logLevel/>
				<!-- <loggerName />-->
				<pattern>
					<pattern>{
						&quot;appName&quot;: &quot;ATM&quot;, 
						
						<!--or searching with Kibana -->
						&quot;appVersion&quot;: &quot;v1&quot;
						}</pattern>
				</pattern>
				<!-- <threadName />-->
				<!-- <logstashMarkers />Useful so we can add extra information for specific log lines as Markers -->
				<message/>
				<!-- <arguments />or through StructuredArguments -->
				<!-- <stackTrace />-->
			</providers>
		</encoder>
	</appender>
	<logger level="TRACE" name="org.springframework.ws.client.MessageTracing.sent">
		<appender-ref ref="logstash"/>
	</logger>
	<logger level="TRACE" name="org.springframework.ws.client.MessageTracing.received">
		<appender-ref ref="logstash"/>
	</logger>
	<logger level="INFO" name="Prisma">
		<appender-ref ref="logstash"/>
	</logger>
</configuration>